@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'ProtestRevolution';
    src: url(ProtestRevolution/ProtestRevolution-Regular.ttf);
}
/* HEADER */
header {
    background-color: #3f0301;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}
#title {
    text-align: center;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'ProtestRevolution', cursive;
    font-size: 55px;
    color: #f1ae10;
}
/* BODY */
body {
    background-image: url(background.jpg);
}
.question, .result {
    background-color: #b9801dee;
    padding: 5px 20px 5px;
    width: 55%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
    margin-left: 20%;
}
.result {
    margin-bottom: 50px;
}
.question-hidden {
    display: none;
}
.question-number {
    color: rgb(15, 15, 15);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.question-prompt {
    color: rgb(15, 15, 15);
    font-family: 'Montserrat', sans-serif;
    font-weight: regular;
    font-size: 20px;
}
.question-description {
    text-align: center;
}
.answer-buttons, .result-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
}
.answer-choice, .result-choice {
    /* Button Design */
    background-color: rgba(216, 208, 155, 0.98);
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    box-shadow: 0 5px rgb(69, 69, 69);

    /* Font design */
    color: rgb(15, 15, 15);
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: regular;
    font-size: 20px;
}
.answer-choice {
    /* Hovering Effect */
    cursor: pointer;
    transition-duration: 0.1s;
}
.answer-choice:hover {
    background-color: rgba(247, 236, 195, 0.98);
}
.answer-choice:active {
    box-shadow: 0 2.5px rgb(69, 69, 69);
    transform: translateY(1.5px);
}
.answer-choice.click {
    background-color: rgba(247, 236, 195, 0.98);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}
.previous-button-disable, .next-button-disable, .previous-button, .next-button {
    /* Button Design */
    background-color: rgba(216, 208, 155, 0.98);
    border: 10px;
    border-radius: 3px;
    padding: 10px 40px;
    margin-bottom: 25px;
    box-shadow: 0 5px rgb(107, 52, 52);
    width: 165px;

    /* Font design */
    color: rgb(107, 52, 52);
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.previous-button-disable, .next-button-disable {
    opacity: 0.6;
    cursor: not-allowed;
}
.previous-button, .next-button {
    cursor: pointer;
    transition-duration: 0.1s;
}
.previous-button:active, .next-button:active {
    background-color: rgba(247, 236, 195, 0.98);
    box-shadow: 0 2.5px rgb(107, 52, 52);
    transform: translateY(1.5px);
}
/* The layout of the navigation button will be column when the window width is below 1150 */
@media only screen and (max-width: 1150px) {
    .navigation {
        flex-direction: column;
        align-items: center;
    }
}
/* RESULT */
.result-hidden {
    display: none;
}
.result-choice-incorrect {
    /* Button Design */
    background-color: rgba(189, 68, 3, 0.98);
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    box-shadow: 0 5px rgba(105, 78, 63, 0.98);

    /* Font design */
    color: rgba(247, 236, 195, 0.98);
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: regular;
    font-size: 20px;
}
.result-choice-correct {
    /* Button Design */
    background-color: rgba(5, 103, 43, 0.98);
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    box-shadow: 0 5px rgba(61, 85, 71, 0.98);

    /* Font design */
    color: rgba(247, 236, 195, 0.98);
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: regular;
    font-size: 20px;
}
.score-description {
    margin-top: 20px;
    margin-bottom: -20px;
}
.score-display {
    color: #3f0301;
    font-family: 'ProtestRevolution', sans-serif;
    font-weight: bold;
    font-size: 60px;
}